{% extends "movie/base.html" %}
{% block bb %}

<div class="container">
  <h1>영화목록</h1>
    <div class="row">
      {% for movie in movies %}
        <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="card" style="width: 18rem;">
            <img src="{{movie.poster_url}}" class="card-img-top" alt="{{movie.poster_url}}">
            <div class="card-body">
              <h5 class="card-title"><a href="/movies/{{movie.id}}">{{movie.title}}</a></h5>
              <p class="card-text">{{movie.score}}</p>
            </div>
          </div>
        </div>
      {% endfor %}   
    </div>
</div>
{% endblock %}